*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#f5efe6;
    color:#3e2a1c;
    line-height:1.6;
}

.hero{
min-height:70vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:40px;
}

.hero h1{
    font-family: 'Allura', cursive;
    font-size: 6rem;
}

.hero h2{
    font-family: 'Allura', cursive;
    font-size:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    flex-wrap:nowrap;
}


.subtitle{
font-size:1.2rem;
}

section{
padding:50px 20px;
}

.countdown{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.countdown div{
background:white;
padding:20px;
border-radius:10px;
min-width:100px;
}

.countdown span{
display:block;
font-size:2rem;
font-weight:bold;
}

.event-info,
.message,
.rsvp{
max-width:900px;
margin:auto;
text-align:center;
}

.btn,
button{
display:inline-block;
margin-top:20px;
padding:15px 25px;
border:none;
border-radius:8px;
cursor:pointer;
text-decoration:none;
background:#8b5e34;
color:white;
}

form{
display:flex;
flex-direction:column;
gap:15px;
max-width:500px;
margin:auto;
}

input,
select,
textarea{
padding:12px;
}

.important{
margin-top:15px;
font-weight:bold;
}

footer{
padding:40px;
text-align:center;
}

.invitation-card{
    background-image:url("marco.jpeg");
    background-repeat:no-repeat;
    background-size:100% auto;
    background-position:top center;
}

.emoji{
    font-size:0.6em;
    flex-shrink:0;
}
