*{
margin:0px;
padding:0;
box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#f5efe6;
    color:#3e2a1c;
    line-height:1.6;
}

.hero{
min-height:70vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:40px;
}

.hero h1{
    font-family: 'Allura', cursive;
    font-size: 5rem;
    line-height: 0.8;
    margin: 0;
}

.hero h2{
    font-family: 'Allura', cursive;
    font-size:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    flex-wrap:nowrap;

    position:relative;
    top:40px;
}


.subtitle{
font-size:1.2rem;
}

section{
padding:50px 20px;
}

.countdown{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.countdown div{
    background:white;
    padding:12px;
    border-radius:10px;
    min-width:55px;
}

.countdown span{
display:block;
font-size:1.5rem;
font-weight:bold;
}


.event-info,
.message,
.rsvp{
max-width:900px;
margin:auto;
text-align:center;
}

.btn,
button{
display:inline-block;
margin-top:20px;
padding:15px 25px;
border:none;
border-radius:8px;
cursor:pointer;
text-decoration:none;
background:#8b5e34;
color:white;
}

form{
display:flex;
flex-direction:column;
gap:15px;
max-width:500px;
margin:auto;
}

input,
select,
textarea{
padding:12px;
}

.message{
    background:rgba(255,255,255,0.45);
    border-radius:15px;
    padding:25px;
}



.important{
margin-top:5px;
font-weight:bold;
color: #4bb8d2;
font-size: 0.9rem;
}

footer{
padding:40px;
text-align:center;
}

.invitation-card{
    background-image:url("marco.webp");
    background-repeat:no-repeat;
    background-size:100% auto;
    background-position:top center;

    opacity: 0;
    transform: scale(1.02);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.emoji{
    font-size:0.9em;
    flex-shrink:0;
}

.countdown-section{
    text-align:center;
}

#welcomeScreen{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:#f5efe6;
    z-index:99999;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#welcomeScreen button{
    margin-top:20px;
}

.invitation-card.show {
    opacity: 1;
    transform: scale(1);
}

.gallery{
    display:flex;
    gap:12px;
    overflow-x:auto;
    max-width:700px;
    margin:30px auto;
    padding:10px;
    scroll-behavior:smooth;
}

.gallery::-webkit-scrollbar{
    display:none;
}

.gallery img{
    width:140px;
    height:200px;
    object-fit:cover;
    border-radius:12px;
    flex-shrink:0;
    cursor:pointer;
}


#imageModal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    justify-content:center;
    align-items:center;
    z-index:999999;
}

#modalImg{
    max-width:90%;
    max-height:90%;
    border-radius:12px;
}

#closeModal{
    position:absolute;
    top:20px;
    right:30px;
    color:white;
    font-size:40px;
    cursor:pointer;
}

.overlay{
    width:100%;
}

.gallery-wrapper{
    position:relative;
    max-width:700px;
    margin:auto;
}

.gallery-wrapper::after{
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:100%;

    background:linear-gradient(
        to left,
        #f5efe6,
        transparent
    );

    pointer-events:none;
}
